<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel Login</title>
    <link rel="stylesheet" href="/adminLoginStyles.css">
</head>
<body>
    <div class="login-container">
        <h2>Password</h2>
        <form action="/admin/login" method="POST">  <div class="input-group">
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>